<div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
    <mat-card>
      <div class="p-20 bg-info position-relative">
        <h2 class="card-title text-white m-0">Inscrições</h2>
        <h4 class="card-subtitle text-white m-0 op-5">Localize ou cadastre a inscrição desejada.</h4>
        <a [routerLink]="['.', 'cadastro']" routerLinkActive="router-link-active" >
          <button mat-mini-fab color="accent" class="add-contact">+</button>
        </a>
      </div>
      <div class="message-box contact-box p-20">
        <mat-card-content>
          <mat-accordion>
            <mat-form-field>
              <input matInput placeholder="Inscrito, Intrutor ou Live" [(ngModel)]="filtroLista">
            </mat-form-field>
          </mat-accordion>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
    <mat-card *ngIf=" inscricoesFiltrados.length > 0 ">
      <mat-card-content >
        <mat-card-title>Inscrições localizadas</mat-card-title>
        <mat-card-subtitle>Inscrições que contém o texto informado no nome do incrito, do instrutor ou da live e descrição desta.</mat-card-subtitle>
        <mat-list *ngFor="let inscricao of inscricoesFiltrados ">
          <mat-list-item >
            <h3 matLine>{{inscricao.inscrito.pessoa.nome}} na live {{inscricao.live.nome}}</h3>
            <p matLine class="text-muted">{{inscricao.live.descricao}}</p>
            <a [routerLink]="[ '.','cadastro' , inscricao.id  ]">
              Editar
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf=" inscricoesFiltrados.length == 0 ">
    <mat-card-content >
      <mat-card-title>Nenhuma inscrição localizada</mat-card-title>
      <mat-card-subtitle>Nenhuma inscrição contém o texto informado no nome do incrito, do instrutor ou da live ou descrição desta.</mat-card-subtitle>
      <mat-list>
        <mat-list-item>
          <div class="message-widget contact-widget">
            <div class="mail-contnet">
              <span class="mail-desc"></span>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
</div>
