<mat-card>
  <mat-tab-group>
    <mat-tab label="Cadastro do Instrutor Fulano de tal">
      <mat-card-content>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Nome">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="e-Mail" type="email">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Instagram" >
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Nascimento" type="date">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button color="primary">Gravar</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Lives ministradas">
      <mat-card-content>
        <div class="d-flex no-blcok">
          <div fxFlex.gt-sm="50%" >
            <mat-card>
                <mat-card-content>
                  <mat-card-title>Net 6 + EF Core</mat-card-title>
                  <mat-card-subtitle>
                    23/05/2013 14:00
                  </mat-card-subtitle>
                  <mat-list>
                    <mat-list-item >
                      <h3 matLine>99 Inscritos</h3>
                      <p matLine class="text-muted">R$ 4.950,00 arrecadados</p>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
            </mat-card>
          </div>
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
